{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/friend_list.css' %}">
</head>

<body>
  {% if requests %}
  <div class="outer-container">
    <div class="user-container">
      {% for req in requests %}
      <div class="actual-user">
        <div class="image-div">
          <img src="{{ req.sender.profile_image.url }}">
        </div>
        <div class="name-container">
          <p><a href="{% url 'friend:profile' req.sender.username %}">{{ req.sender.first_name }} {{ req.sender.last_name }}</a></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="inacc-outer-div">
    <div class="holder-msg">
      <p>no request recieved</p>
    </div>
  </div>
  {% endif %}

</body>
</html>

{% endblock content %}