{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChat</title>
    <link rel="stylesheet" href="{% static 'css/reset_search.css' %}">
</head>

<body>
    <div class="outer-most-container">
        <div class="mini-nav-container">
            <div class="auth-logo-container-div">
                <img src="{% static 'icons/logo.svg' %}" alt="logo">
            </div>
            <div class="site-name-holder">
                <p>WEB CHAT</p>
            </div>
        </div>

        {% if messages %}
        <div class="backend-msg-container">
            <ul class="error-messages">
              {% for message in messages %}
                <li class="error">
                    <p>{{message}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="actual-form-container">
            <div class="search-form-container">
                <form action="" method="POST">
                  {% csrf_token %}
                    <input class="user-search-box" type="text" id="username" name="email" placeholder="search user...">
                    <input class="user-search-submit" type="submit" value="search"><br>
                </form>
            </div>
        </div>











        {% if users %}
        <div class="outer-container">
          <div class="user-container">
            
            {% for user in users %}
            <div class="actual-user">
              <div class="image-div">
                <img src="{{ user.profile_image.url }}">
              </div>
              <div class="name-container">
                <p><a href="{% url 'accounts:psresetter' user.username %}">{{ user.first_name }} {{ user.last_name }}</a></p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% else %}
        {% if non_e %}
        <div class="inacc-outer-div">
          <div class="holder-msg">
            <p>user does not exists</p>
          </div>
        </div>
        {% endif %}
        {% endif %}










        







        



    </div>

    <div class="footer">
        <p>Web Chat &copy; 2023 - all rights reserved</p>
    </div>

</body>

</html>