{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChat</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="outer-most-container">
        <div class="mini-nav-container">
            <div class="auth-logo-container-div">
                <img src="{% static 'icons/logo.svg' %}" alt="logo">
            </div>
            <div class="site-name-holder">
                <p>WEB CHAT</p>
            </div>

        </div>

        {% if messages %}

        <div class="backend-msg-container">
            <ul class="error-messages">
                {% for message in messages %}
                <li class="error">
                    <p>{{message}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="actual-form-container">
            <div class="login-form-container">

                {% if user %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="password1">Enter New Pssword:</label>
                    <input type="password" id="password1" name="password1">

                    <label for="password2">Reconfirm your password:</label>
                    <input type="password" id="password2" name="password2">

                    <input class="login-btn" type="submit" value="submit">
                </form>
                {% else %}
                <h1>forbideen acess</h1>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Web Chat &copy; 2023 - all rights reserved</p>
    </div>
</body>
</html>
