<script>

	function remove_profile_image(id,element){
		element.disabled = true;
		const payload=new FormData;
		payload.append('csrfmiddlewaretoken','{{ csrf_token }}')
		payload.append("user_id", id)
		var xhr=new XMLHttpRequest();
		var url = "{% url 'accounts:remove-profile-image' %}";
		xhr.open("POST",url);
		xhr.onreadystatechange = function(){
			if (xhr.readyState === 4 && xhr.status === 200){
				location.reload()	}	}
		xhr.send(payload);	}

</script>




<!-- 


<script type="text/javascript">
	
	function remove_profile_image(id,element){
		element.disabled = true;
		
		payload = { 
				"csrfmiddlewaretoken": "{{ csrf_token }}",
				"user_id": id,
			}
		$.ajax({
			
			type: 'POST',
			dataType: "json",
			url: "{% url 'accounts:remove-profile-image' %}",
			data: payload,
			timeout: 5000,
			
			success: function(data) {
				
				console.log("success...........")
				},
					
			error: function(data) {
				console.error("error................")
			    },
			complete: function(data){
				
				location.reload()
				}	
			});
			
		
	}
	

</script> -->
